<div class="map"></div>
  <div class="flat-show-card">
    <h1><%= @flat.name %></h1>
    <p class="flat-show-address"><%= @flat.address %></p>
  </div>
<div class="flat-show-card">
  <h3>Some description</h3>
  <p><%= @flat.description %></p>

</div>
